{% extends 'web/base.html' %}


{% block content %}
<div class="container">
    <div class="contact bg-light w-80 mt-5 mx-auto">
        <div class="official mt-5">
            <br><h1>Наши контакты</h1>
            <a href="mailto:School4igra2007@yandex.ru" class="email">School4igra2007@yandex.ru</a><br>
            <a href="tel:+7 (34134) 4-22-92">+7 (34134) 4-22-92</a>
        </div>
        <!-- Social -->
        <div class="social">
            <h1>Мы в социальных сетях</h1><br>
            <a href="https://www.youtube.com/channel/UCTQUw_vdYrIMm7lDUwSMF5w" class="btn btn-primary m-1" role="button" rel="nofollow" target="_blank" mb-checked="1" data-tip="{&quot;index&quot;:29,&quot;offer&quot;:null,&quot;link&quot;:&quot;https://www.youtube.com/channel/UCTQUw_vdYrIMm7lDUwSMF5w&quot;}" data-for="mb-link-tooltip" currentitem="false">
                <i class="fa fa-youtube"></i>
            </a>
            <a href="https://vk.com/public186332645" class="btn btn-primary m-1" role="button" rel="nofollow" target="_blank" mb-checked="1" data-tip="{&quot;index&quot;:30,&quot;offer&quot;:null,&quot;link&quot;:&quot;https://vk.com/public186332645&quot;}" data-for="mb-link-tooltip" currentitem="false">
                <i class="fa fa-vk"></i>
            </a>
            <a href="https://github.com/1dlvb" class="btn btn-primary m-1" role="button" rel="nofollow" target="_blank" mb-checked="1" data-tip="{&quot;index&quot;:31,&quot;offer&quot;:null,&quot;link&quot;:&quot;https://github.com/1dlvb&quot;}" data-for="mb-link-tooltip" currentitem="false">
                <i class="fa fa-github"></i>
            </a>
        </div><br>
    </div>
</div>

{% endblock %}