{% extends 'web/base.html' %}
{% block content %}
        <!--MAP API-->
        <script src="https://api-maps.yandex.ru/2.1/?apikey=a0d894c6-65bb-4bb5-b721-16b4f77310f0&lang=ru_RU"
                type="text/javascript">
        </script>

        <!--MAP JS-->
        <script type="text/javascript">
            ymaps.ready(init);
            function init(){
                var myMap = new ymaps.Map("map", {
                    center: [57.546334590179114, 53.08587254207859],
                    zoom: 17
                });
            
            // add marker
            var placemark = new ymaps.Placemark([57.546373287337765,53.085825459447065], {
                hideIcon: false,
                hintContent: 'МБОУ Игринская СОШ №4',
                balloonContent: 'МБОУ Игринская Средняя Общеобразовательная Школа №4'
            });

            // show marker
            myMap.geoObjects.add(placemark);
        }
        </script>


    <div class="container">
        <!--MAP-->
        <div id="map" class="map w-100 mt-5 mx-auto"></div>
    </div>
{% endblock %}